body{
    background-color: #000;
    
}
.container {
    max-width: 1980px;
    height: 100vh;
    border: 1px solid grey;
    box-shadow: 3px 3px 50px 20px #FFF;
    margin: 20px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 7%;
}
.slider {
    width: 400%;
    height: 80vh;
    display: flex;
    border: 1px solid grey;
}
.slide {
    width: 25%;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.wrapper_controls {
    display: flex;
    /* height: 10vh; */
    align-items: center;
    background-color: #000;
    color: #FFF;
}
.description {
    width: 75%;
    display:inline;
    overflow: hidden;
}
.description_container{
    width: 400%;
    height: 100%;
    display: flex;
}
.slide_description {
    width: 25%;
    font-size: 3rem;

}
.controls_slide {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.controls_button{
    width: 80px;
    height: 30px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button{
    padding: 20%;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px #FFF;
    background-color: #FFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.controls_button:hover .button {
    box-shadow: 0px 0px 5px 5px #FFF;
    transform: scale(1.2);
}
.controls_button:active .button{
    transform: scale(0.6);
}
input[name = "gif"] {
    display: none;
}

#gif1:checked ~ .slider .active{
    margin-left: 0;
    transition: all 0.2s ease-in-out;
}
#gif2:checked ~ .slider .active{
    margin-left: -25%;
    transition: all 0.2s ease-in-out;
}
#gif3:checked ~ .slider .active{
    margin-left: -50%;
    transition: all 0.2s ease-in-out;
}
#gif4:checked ~ .slider .active{
    margin-left: -75%;
    transition: all 0.2s ease-in-out;
}
#gif1:checked ~ .wrapper_controls .description .phrase{
    margin-left: 0;
    transition: all 0.2s ease-in-out;
}
#gif2:checked ~ .wrapper_controls .description .phrase{
    margin-left: -100%;
    transition: all 0.2s ease-in-out;
}
#gif3:checked ~ .wrapper_controls .description .phrase{
    margin-left: -200%;
    transition: all 0.2s ease-in-out;
}
#gif4:checked ~ .wrapper_controls .description .phrase{
    margin-left: -300%;
    transition: all 0.2s ease-in-out;
}
#gif1:checked ~ .wrapper_controls .controls_slide .controls_button .btn1{
    background-color: #000;
    box-shadow: 0px 0px 5px 5px inset #FFF,0px 0px 5px 5px grey
}
#gif2:checked ~ .wrapper_controls .controls_slide .controls_button .btn2{
    background-color: #000;
    box-shadow: 0px 0px 5px 5px inset #FFF,0px 0px 5px 5px grey
}
#gif3:checked ~ .wrapper_controls .controls_slide .controls_button .btn3{
    background-color: #000;
    box-shadow: 0px 0px 5px 5px inset #FFF,0px 0px 5px 5px grey
}
#gif4:checked ~ .wrapper_controls .controls_slide .controls_button .btn4{
    background-color: #000;
    box-shadow: 0px 0px 5px 5px inset #FFF,0px 0px 5px 5px grey
}
@media(max-width:1200px){
    .container{
        box-shadow: 3px 3px 25px 10px #FFF;
    }
    .slider {
        height: 70vh;
    }
    .wrapper_controls {
    flex-direction: column-reverse;
    justify-content: space-between;
    row-gap:5vh;
    }
    .description {
        width: 100%;
    }
    .controls_slide {
        width: 35%;

    }
}
@media(max-width:450px){
    .slider {
        height: 60vh;
    }
    .slide_description {
        width: 100%;
        font-size: 1.5rem;
    
    }

    .controls_slide {
        width: 50%;

    }
    #gif1:checked ~ .wrapper_controls .controls_slide .controls_button .btn1{
        background-color: #000;
        box-shadow: 0px 0px 2px 1px inset #FFF,0px 0px 5px 5px grey
    }
    #gif2:checked ~ .wrapper_controls .controls_slide .controls_button .btn2{
        background-color: #000;
        box-shadow: 0px 0px 2px 1px inset #FFF,0px 0px 5px 5px grey
    }
    #gif3:checked ~ .wrapper_controls .controls_slide .controls_button .btn3{
        background-color: #000;
        box-shadow: 0px 0px 2px 1px inset #FFF,0px 0px 5px 5px grey
    }
    #gif4:checked ~ .wrapper_controls .controls_slide .controls_button .btn4{
        background-color: #000;
        box-shadow: 0px 0px 2px 1px inset #FFF,0px 0px 5px 5px grey
    }
}